.content {
    height: 100vh;
}

.main {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-boards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}