.board {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0 15px 0;
}

.board__player-name {
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px darkgreen, -1px -1px aqua;
}

.board__msg {
    margin: 10px 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.cell-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}