.confirmation-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-screen__text {
    font-family: 'Press Start 2P', cursive;
    color: darkgreen;
}