.header {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header__text {
    text-align: center;
    font-family: 'Reggae One', cursive;
}

